
<div class="modal-content">
    <div class="modal-header">
        <h3 class="modal-title">Change User Password</h3>
        <button type="button" class="close" data-dismiss="modal" onclick="CloseModal()">&times;</button>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Login Id</label>
                        <input type="text" class="form-control" id="txtLoginId" value="@ViewBag.LoginId" readonly>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Current Password</label>
                        <span class="text-danger">*</span>
                        <input type="password" placeholder="Enter Current Password" value="" class="form-control" id="txtCurrentPassword" autocomplete="off" onkeypress="return IsAlphaNumeric(event);"  required>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-sm-6">
                    <label>New Password</label>
                    <span class="text-danger">*</span>
                    <input type="password" name="txtNewpassword" id="txtNewpassword" value="" class="form-control validate-equalTo-blur" required autocomplete="off" placeholder="Minimum 8 characters allowed" onkeypress="return IsAlphaNumeric(event);" aria-invalid="false" minlength="8">
                    <label id="password-error" class="validation-invalid-label validation-valid-label" for="txtNewpassword">Success.</label>
                </div>

                <div class="col-sm-6">
                    <label>Repeat password</label>
                    <input type="password" name="repeat_password" id="txtrepeat_password" class="form-control" value="" required autocomplete="off" placeholder="Try different password" onkeypress="return IsAlphaNumeric(event);" aria-invalid="false" minlength="8">
                    <label id="repeat_password-error" class="validation-invalid-label validation-valid-label" for="repeat_password">Success.</label>
                </div>
            </div>
        </div>

    </div>

    <div class="card-footer d-flex justify-content-between align-items-center bg-info border-top-0">
        <button type="button" class="btn bg-transparent text-white border-white border-2" data-dismiss="modal" onclick="CloseModal()">Close</button>
        <button type="submit" class="btn btn-outline bg-white text-white border-white border-2">Submit <i class="icon-paperplane ml-2"></i></button>
    </div>

</div>
<script>
    
    function IsAlphaNumeric(e) {
        
        var keyCode = e.keyCode == 0 ? e.charCode : e.keyCode;
        var ret = ((keyCode >= 48 && keyCode <= 57) || (keyCode >= 64 && keyCode <= 90) || (keyCode >= 97 && keyCode <= 122));
        // document.getElementById("error").style.display = ret ? "none" : "inline";
        return ret;
    }
</script>