@{
    ViewData["Title"] = "Vehicle Summary";
    Layout = "_MonsterLayout";
}

<div class="content pt-0">

    <!-- Page header -->
    <div class="page-header border-bottom-0">
    </div>
    <!-- /page header -->

    <div class="card mt-3 mr-2">
        <div class="card-header header-elements-inline pt-0 pb-0">
            <div class="page-title d-flex mt-4">
                <h4><i class="icon-arrow-left52 mr-2"></i> <span class="font-weight-semibold" id="spnHeader">Vehicle Summary</span></h4>&nbsp;

            </div>

            <div class="list-icons">
                <a class="list-icons-item" data-action="collapse"></a>
                <a class="list-icons-item" data-action="reload"></a>
                <a class="list-icons-item" data-action="remove"></a>
            </div>
        </div>
        <br />
        <div class="card-body">

            <button type="button" id="btnExcel" class="btn btn-success"  value="Excel" onclick="DownloadFile('Excel');">Export To Excel</button>
        </div>

        <div class="dataTables_wrapper no-footer">

            <div class="datatable-scroll-wrap">
                <table class="table datatable-button-html5-columns" id="example">
                    <thead>
                        <tr>
                            <th>Sr. No</th>
                            <th>Status</th>
                            <th>UId(QR Code)</th>
                            <th>Vehicle Reg. No</th>
                            <th>Chassis No</th>
                            <th>Vehicle Type</th>
                            <th>Owner Type</th>
                            <th>Vehicle Operation</th>
                            <th>Zone</th>
                            <th>Circle</th>
                            <th>Ward</th>
                            <th>Gross Weight</th>
                            <th>Tare Weight</th>
                            <th>Net Weight</th>
                            <th>Image</th>
                            <th>Driver Name</th>
                            <th>Driver Contact No</th>
                            <th>Incharge Name</th>
                            <th>Incharge Contact No</th>
                            <th>Landmark</th>
                            <th>Landmark Cordinates</th>
                            <th>Landmark Radius(In Mtr.)</th>
                            <th>Transfer Station</th>
                            <th>TS Cordinates</th>
                            <th>TS Radius(In Mtr.)</th>
                        </tr>
                    </thead>
                    <tfoot>
                    </tfoot>
                    <tbody>
                    </tbody>
                </table>

            </div>
        </div>
    </div>

</div>



@section scripts {
    <link href="~/otherfiles/FancyBox/jquery.fancybox.min.css" rel="stylesheet" />
    <script src="~/otherfiles/FancyBox/jquery.fancybox.min.js"></script>
    <script src="~/js/CommonHelper.js?@DateTime.Now.Ticks"></script>
    <script src="~/ViewJs/Common/AllGenericFunc.js?@DateTime.Now.Ticks"></script>
    <script src="~/ViewJs/Asset/VehicleSummary.js?@DateTime.Now.Ticks"></script>
}



