
@{
    ViewData["Title"] = "AllDeployIncharge";
    Layout = "~/Views/Shared/_MonsterLayout.cshtml";
}


<div class="page-header border-bottom-0">

    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-md-5 align-self-center">
            </div>
            <div class="
                col-md-7
                justify-content-end
                align-self-center
                d-none d-md-flex
              ">
                
            </div>
        </div>
    </div>
</div>

<div class="content pt-0">

    <!-- Page header -->
    <!-- /page header -->

    <div class="card mt-1 mr-2">
        <div class="card-header header-elements-inline">
            <div class="page-title d-flex">
                <h4> <span class="font-weight-semibold">All Deploy Incharge </span> </h4>&nbsp;
                @*<button type="button" class="btn btn-outline bg-teal-400 text-teal-400 border-teal-400" id="btnAdd" loginid="" cid="" onclick="CallFunc(this);">
                    <i class="icon-add"></i> Add New
                    </button>*@
            </div>

            <div class="list-icons">
                <a title="Add" cid="" onclick="CallFunc(this);" id="btnAdd"><i class="icon-add"></i></a>
                <a class="list-icons-item" data-action="collapse"></a>
                <a class="list-icons-item" data-action="reload"></a>
                <a class="list-icons-item" data-action="remove"></a>
            </div>
        </div>
        <div class="card-body">


            <div class="dataTables_wrapper no-footer">

                <div class="datatable-scroll-wrap">

                    <table class="table datatable-button-html5-columns" id="example">
                        <thead>
                            <tr>
                                <th>Sr. No</th>
                                <th>Name</th>
                                
                                <th>Mobile</th>
                                <th>Last Active on</th>
                               
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tfoot>
                        </tfoot>
                        <tbody></tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- Vertical form modal -->
<div id="modal_form_vertical" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <form class="form-validate-jquery" autocomplete="off" onsubmit="return Formsubmit();" name="registration">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="modalTitle"></h3>
                    <button type="button" class="close" data-dismiss="modal" onclick="CloseModal()">&times;</button>
                </div>

                <div class="modal-body">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input type="hidden" value="0" id="UserId" />
                                    <label>Name</label>
                                    <span class="text-danger">*</span>
                                    <input type="text" placeholder="Enter Name" class="form-control" id="FullName" onkeypress="return isAlpha(event.keyCode);" required>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <label>Mobile</label>
                                <input type="text" maxlength="10" placeholder="Mobile No" class="form-control" id="Mobile" onkeypress="return (event.charCode !=8 && event.charCode ==0 || (event.charCode >= 48 && event.charCode <= 57))">
                            </div>
                        </div>
                     
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-6">
                                    <label>Password</label>
                                    <span class="text-danger">*</span>
                                    <input type="text" placeholder="Password" value="" required class="form-control" id="Password" onkeypress="return IsAlphaNumeric(event);" minlength="8">
                                </div>
                                <div class="col-sm-6" style="display:none">
                                    <div class="form-group">
                                        <label>Login Id</label>
                                        <span class="text-danger">*</span>
                                        <input type="text" placeholder="Enter Login Id" class="form-control" id="Email">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">

                                <div class="col-sm-6">
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input type="checkbox" checked="checked" class="square-o" id="IsActive">
                                            Is Active
                                        </label>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="datatable-scroll-wrap">
                                <table class="table datatable-button-html5-columns" id="tblCirclemaster">
                                    <thead>
                                        <tr>
                                            <th>Zone</th>
                                            <th>LandMark</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                    </tfoot>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="card-footer d-flex justify-content-between align-items-center bg-info border-top-0">
                        <button type="button" class="btn bg-transparent text-white border-white border-2" data-dismiss="modal" onclick="CloseModal()">Close</button>
                        <button type="submit" class="btn btn-outline bg-white text-white border-white border-2">Submit <i class="icon-paperplane ml-2"></i></button>
                    </div>

                </div>
        </form>
    </div>
</div>
<!-- /vertical form modal -->
<script>
    function CloseModal() {
        $(".modal").modal('hide');
    }
    function isAlpha(keyCode) {

        return ((keyCode >= 65 && keyCode <= 90) || keyCode == 8 || keyCode == 32 || keyCode == 190 || (keyCode >= 48 && keyCode <= 57) || (keyCode >= 97 && keyCode <= 122))

    }
    function IsAlphaNumeric(e) {
        
        var keyCode = e.keyCode == 0 ? e.charCode : e.keyCode;
        var ret = ((keyCode >= 48 && keyCode <= 57) || (keyCode >= 64 && keyCode <= 90) || (keyCode >= 97 && keyCode <= 122));
       // document.getElementById("error").style.display = ret ? "none" : "inline";
        return ret;
    }
</script>


@section scripts {


    <script src="/otherfiles/global_assets/js/plugins/ui/moment/moment.min.js"></script>
    <script src="/otherfiles/global_assets/js/plugins/pickers/daterangepicker.js"></script>
    <script src="/otherfiles/global_assets/js/plugins/pickers/anytime.min.js"></script>
    <script src="/otherfiles/global_assets/js/plugins/pickers/pickadate/picker.js"></script>
    <script src="/otherfiles/global_assets/js/plugins/pickers/pickadate/picker.date.js"></script>
    <script src="/otherfiles/global_assets/js/plugins/pickers/pickadate/legacy.js"></script>
    <script src="/otherfiles/global_assets/js/demo_pages/picker_date.js"></script>
    <script src="/otherfiles/global_assets/js/demo_pages/datatables_extension_buttons_html5.js"></script>
    <script src="~/otherfiles/Light/global_assets/js/plugins/forms/selects/nselect2.min.js"></script>
    <script src="/otherfiles/Light/global_assets/js/demo_pages/form_layouts.js"></script>
    <script src="/otherfiles/global_assets/js/demo_pages/form_validation.js"></script>
    <link href="/otherfiles/assets/css/sweetalert.css" rel="stylesheet" />
    <script src="~/otherfiles/assets/js/sweetalert.min.js"></script>
    <script src="~/js/aes.js"></script>
    <script src="~/ViewJs/Operation/DeployIncharge.js?@DateTime.Now.Ticks"></script>
}






