@{
    ViewData["Title"] = "Unique Container Noti";
    Layout = "~/Views/Shared/_MonsterLayout.cshtml";
}

<div class="page-header border-bottom-0">

    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-md-5 align-self-center">
            </div>
            <div class="
                col-md-7
                justify-content-end
                align-self-center
                d-none d-md-flex
              ">
            </div>
        </div>
    </div>
</div>
<div class="content pt-0">

    <!-- Page header -->
    <div class="page-header border-bottom-0">
    </div>
    <!-- /page header -->

    <div class="card mt-1 mr-2">
        <div class="card-header header-elements-inline pt-0 pb-0 ">
            <div class="page-title d-flex mt-4">
                <h4><i class="icon-arrow-left52 mr-2"></i> <span class="font-weight-semibold" id="spnHeader">All RCV </span> Information</h4>&nbsp;

            </div>

            <div class="list-icons">
                <a class="list-icons-item" data-action="collapse"></a>
                <a class="list-icons-item" data-action="reload"></a>
                <a class="list-icons-item" data-action="remove"></a>
            </div>
        </div>
        <div class="card-body">
        </div>

        <div class="dataTables_wrapper no-footer">


            <div class="datatable-scroll-wrap" id="dv4">


                <div class="col-md-6 row">
                    <div class="button-group">


                        @*<input type="button" id="btnSearch" class="btn btn-primary" value="Search" onclick="GetDataTableData('Click');">*@
                        <input type="button" id="btnExcel" class="btn btn-success" value="Export To Excel" onclick="DownloadFile('Excel');">
                    </div>
                </div>
                <table class="table datatable-button-html5-columns" id="example3">
                    <thead>
                        <tr>
                            <th>Sr. No</th>
                            <th>Container Code</th>
                            <th>Container Name</th>
                            <th>UId</th>
                            <th>Container Type</th>
                        </tr>
                    </thead>
                    <tfoot>
                    </tfoot>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>

</div>

<style>
    td.details-control {
        background: url('/otherfiles/Light/global_assets/images/details_open.png') no-repeat center center;
    }

    tr.shown td.details-control {
        background: url('/otherfiles/Light/global_assets/images/details_close.png') no-repeat center center;
    }
</style>
<script>
    function CloseModal() {
        $(".modal").modal('hide');
    }
</script>

@section scripts {
<link href="~/otherfiles/FancyBox/jquery.fancybox.min.css" rel="stylesheet" />
<script src="~/otherfiles/FancyBox/jquery.fancybox.min.js"></script>
<script src="~/js/CommonHelper.js?@DateTime.Now.Ticks"></script>
<script src="~/ViewJs/Common/AllGenericFunc.js?@DateTime.Now.Ticks"></script>
<script src="~/ViewJs/Operation/UNQContainerOpt1Info.js?@DateTime.Now.Ticks"></script>
}


