@{
    ViewData["Title"] = "Transfer Station Wise Summary";
    Layout = "~/Views/Shared/_MonsterLayout.cshtml";
}

<div class="page-header border-bottom-0">

    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-md-5 align-self-center">
            </div>
            <div class="
                col-md-7
                justify-content-end
                align-self-center
                d-none d-md-flex
              ">
                @*  <div class="d-flex">
                    <div class="dropdown me-2">
                    <button class="btn btn-secondary dropdown-toggle"
                    type="button"
                    id="dropdownMenuButton"
                    data-bs-toggle="dropdown"
                    aria-expanded="false">
                    January 2021
                    </button>
                    <ul class="dropdown-menu"
                    aria-labelledby="dropdownMenuButton">
                    <li><a class="dropdown-item" href="#">February 2021</a></li>
                    <li><a class="dropdown-item" href="#">March 2021</a></li>
                    <li><a class="dropdown-item" href="#">April 2021</a></li>
                    </ul>
                    </div>
                    <button class="btn btn-success">
                    <i data-feather="plus" class="fill-white feather-sm"></i>
                    Create
                    </button>
                    </div>*@
            </div>
        </div>
    </div>
</div>
<div class="content pt-0">


    <!-- /page header -->

    <div class="card mt-1 mr-2">
        <div class="card-header header-elements-inline pt-0 pb-0">
            <div class="page-title d-flex mt-4">
                <h4><i class="icon-arrow-left52 mr-2"></i> <span class="font-weight-semibold" id="spnHeader">All Transfer Station Wise </span> Report</h4>&nbsp;

            </div>

            <div class="list-icons">
                @*<a title="Download QR Code" cid="" onclick="GetMultipleQrCode(this);" id="btnDownload"><i class="icon-download7"></i></a>*@
                <a class="list-icons-item" data-action="collapse"></a>
                <a class="list-icons-item" data-action="reload"></a>
                <a class="list-icons-item" data-action="remove"></a>
            </div>
        </div>
        <div class="card-body">
            <div class="row">

                <div class="col-md-3">
                    <select id="ddlZone" onchange="CallFCircleByZone();" data-placeholder="Select Your Zone" class="form-control form-control-select2" data-fouc>
                        <option value="0">All Zone</option>
                    </select>
                </div>
                <div class="col-md-3">
                    @*<label>Select Ward</label>*@
                    <select id="ddlCircle" data-placeholder="Select Your Circle" class="form-control form-control-select2" data-fouc>
                        <option value="0">All Circle</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <select id="ddlVehicleType" data-placeholder="Select Vehicle Type" class="form-control form-control-select2"  data-fouc>
                        <option value="0">All Vehicle Type</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <select id="ddlTransferStation" data-placeholder="Select Transfer Station" class="form-control form-control-select2" data-fouc>
                        <option value="0">All Transfer Station</option>
                    </select>
                </div>

                <div class="col-md-12 row pt-3">
                    <div class="col-md-4 row">
                        <label for="colFormLabelSm" class="col-md-3 col-form-label col-form-label-md pl-0" style="text-align : right;">FROM</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" placeholder="Select From Date" id="txtFromDate" autocomplete="off">
                        </div>
                    </div>


                    <div class="col-md-3 row">
                        <label for="colFormLabelSm" class="col-md-3 col-form-label col-form-label-md pl-0" style="text-align : right;">TO</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" placeholder="Select To Date" autocomplete="off" id="txtToDate">
                        </div>
                    </div>


                    <div class="col-md-6 row">
                        <div class="button-group">


                            <input type="button" id="btnSearch" class="btn btn-primary" value="Search" onclick="SetValues('Click');">
                            @*<input type="button" id="btnExcel" class="btn btn-success" value="Export To Excel" onclick="DownloadFile('Excel');">*@
                        </div>
                    </div>

                </div>
            </div>

        </div>

        <div class="dataTables_wrapper no-footer" id="dvNotification">

            <div class="datatable-scroll-wrap">

                <table class="table datatable-button-html5-columns vehicletable" id="example">
                    <thead>
                        <tr>
                            <th>Sr. No</th>
                            <th>Transfer Station</th>
                            <th>No Of Primary Vehicle</th>
                            <th>No. Of Container Filled</th>
                            <th>No. Of Hookloader Trips</th>
                            <th>No. Of Open Vehicle Trips</th>
                            <th>No. Of RCV Vehicle Trips</th>
                            <th>Estimated Weight(MT)</th>
                            <th>Total Weight As Per WB Data</th>
                            <th>Total Weight Variance</th>
                            <th>Download</th>
                        </tr>
                    </thead>
                    <tfoot>
                    </tfoot>
                    <tbody></tbody>
                </table>


            </div>
        </div>
    </div>

</div>

<input type="hidden" value="0" id="hfTotalrows" />
<script>
    function CloseModal() {
        $(".modal").modal('hide');
    }
</script>
@section scripts {

<script src="~/otherfiles/assets/js/jquery.datetimepicker.js"></script>
<link href="~/otherfiles/assets/css/jquery.datetimepicker.css" rel="stylesheet" />
<script src="/otherfiles/global_assets/js/plugins/ui/moment/moment.min.js"></script>
<script src="/otherfiles/global_assets/js/plugins/pickers/daterangepicker.js"></script>
<script src="~/otherfiles/Light/global_assets/js/plugins/forms/selects/nselect2.min.js"></script>
<script src="/otherfiles/Light/global_assets/js/demo_pages/form_layouts.js"></script>
<script src="/otherfiles/global_assets/js/plugins/forms/selects/bootstrap_multiselect.js"></script>
<script src="~/js/CommonHelper.js?@DateTime.Now.Ticks"></script>
<script src="~/ViewJs/Common/AllGenericFunc.js?@DateTime.Now.Ticks"></script>
<script src="~/ViewJs/Operation/RptTSWiseSummaryInfo.js?@DateTime.Now.Ticks"></script>
}





