@{
    ViewData["Title"] = "VehicleCollectionNoti";
    Layout = "~/Views/Shared/_MonsterLayout.cshtml";
}


<div class="page-header border-bottom-0">

    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-md-5 align-self-center">
            </div>
            <div class="
                col-md-7
                justify-content-end
                align-self-center
                d-none d-md-flex
              ">
                @*  <div class="d-flex">
                    <div class="dropdown me-2">
                    <button class="btn btn-secondary dropdown-toggle"
                    type="button"
                    id="dropdownMenuButton"
                    data-bs-toggle="dropdown"
                    aria-expanded="false">
                    January 2021
                    </button>
                    <ul class="dropdown-menu"
                    aria-labelledby="dropdownMenuButton">
                    <li><a class="dropdown-item" href="#">February 2021</a></li>
                    <li><a class="dropdown-item" href="#">March 2021</a></li>
                    <li><a class="dropdown-item" href="#">April 2021</a></li>
                    </ul>
                    </div>
                    <button class="btn btn-success">
                    <i data-feather="plus" class="fill-white feather-sm"></i>
                    Create
                    </button>
                    </div>*@
            </div>
        </div>
    </div>
</div>
<div class="content pt-0">

    <!-- Page header -->
    <div class="page-header border-bottom-0">
    </div>
    <!-- /page header -->

    <div class="card mt-1 mr-2">
        <div class="card-header header-elements-inline pt-0 pb-0 ">
            <div class="page-title d-flex mt-4">
                <h4><i class="icon-arrow-left52 mr-2"></i> <span class="font-weight-semibold" id="spnHeader">All Vehicle </span> Information</h4>&nbsp;

            </div>

            <div class="list-icons">
                <a class="list-icons-item" data-action="collapse"></a>
                <a class="list-icons-item" data-action="reload"></a>
                <a class="list-icons-item" data-action="remove"></a>
            </div>
        </div>
        <div class="card-body">
        </div>

        <div class="dataTables_wrapper no-footer">

            <div class="datatable-scroll-wrap" style="display:none;" id="dv1">

                <table class="table datatable-button-html5-columns" id="example">
                    <thead>
                        <tr>
                            <th>Sr. No</th>
                            <th>Image</th>
                            <th>Operation Type</th>
                            <th>Container Code</th>
                            <th>Container Name</th>
                            <th>Container UId</th>
                            @*<th>Container Scanned On</th>*@
                            <th>Vehicle Type</th>
                            <th>Vehicle No</th>
                            <th>Vehicle UId</th>
                            @*<th>Vehicle Scanned On</th>*@
                            <th>Transafer Station</th>
                            @*<th>Transafer Station Location</th>*@
                            <th>Transaction Done On</th>
                            <th>Scanned By</th>
                            <th>Contact No</th>
                            <th>Remarks</th>
                            <th>Is Deviated From Transafer Station</th>
                             <th>Action Status</th>
                        </tr>
                    </thead>
                    <tfoot>
                    </tfoot>
                    <tbody></tbody>
                </table>



            </div>
            <div class="datatable-scroll-wrap" style="display:none;" id="dv2">
                <table class="table datatable-button-html5-columns" id="example1">
                    <thead>
                        <tr>
                            <th>Sr. No</th>
                            <th>Image</th>
                            <th>Operation Type</th>
                            <th>Vehicle Type</th>
                            <th>Vehicle No</th>
                            <th>Vehicle UId</th>
                            @*<th>Vehicle Scanned On</th>*@
                            <th>Container Code</th>
                            <th>Container Name</th>
                            <th>Container UId</th>
                            @*<th>Container Scanned On</th>*@
                            <th>Transaction Done On</th>
                            <th>Scanned By</th>
                            <th>Contact No</th>
                            <th>Is Deviated From Transafer Station</th>
                            <th>Action Status</th>
                        </tr>
                    </thead>
                    <tfoot>
                    </tfoot>
                    <tbody></tbody>
                </table>

            </div>
            <div class="datatable-scroll-wrap" style="display:none;" id="dv3">
                <table class="table datatable-button-html5-columns" id="example2">
                    <thead>
                        <tr>
                            <th>Sr. No</th>
                            <th>Image</th>
                            <th>Operation Type</th>
                            <th>Vehicle Type</th>
                            <th>Vehicle No</th>
                            <th>Vehicle UId</th>
                            <th>Transaction Done On</th>
                            <th>Scanned By</th>
                            <th>Contact No</th>
                        </tr>
                    </thead>
                    <tfoot>
                    </tfoot>
                    <tbody></tbody>
                </table>
            </div>

            <div class="datatable-scroll-wrap" style="display:none;" id="dv4">
                <table class="table datatable-button-html5-columns" id="example3">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Sr. No</th>

                            <th>Operation Type</th>
                            <th>Container Code</th>
                            <th>Container Name</th>
                            <th>Container UId</th>
                            <th>Transaction Done On</th>
                            <th>Last Transaction Done On</th>
                            <th>Status</th>
                            <th>Scanned By</th>
                            <th>Contact No</th>
                        </tr>
                    </thead>
                    <tfoot>
                    </tfoot>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>

</div>

<div id="modal_form_vertical" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <form class="form-validate-jquery" onsubmit="return Formsubmit();" name="registration">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Change Status </h3>
                    <button type="button" class="close" data-dismiss="modal" onclick="CloseModal()">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <input type="hidden" id="hfCTDId" value="0" />
                                    <label>Status</label>
                                    <span class="text-danger">*</span>
                                    <select id="ddlStatus" required
                                            class="form-control">
                                        <option value="">Select</option>
                                        <option value="2">Accepted</option>
                                        <option value="1">Rejected</option>
                                    </select>
                                </div>
                            </div>



                        </div>
                    </div>
                </div>

                <div class="card-footer d-flex justify-content-between align-items-center bg-info border-top-0">
                    <button type="button" class="btn bg-transparent text-white border-white border-2" data-dismiss="modal" onclick="CloseModal()">Close</button>
                    <button type="submit" class="btn btn-outline bg-white text-white border-white border-2">Submit <i class="icon-paperplane ml-2"></i></button>
                </div>
            </div>
        </form>
    </div>
</div>

<style>
    td.details-control {
        background: url('/otherfiles/Light/global_assets/images/details_open.png') no-repeat center center;
    }

    tr.shown td.details-control {
        background: url('/otherfiles/Light/global_assets/images/details_close.png') no-repeat center center;
    }
</style>
<script>
    function CloseModal() {
        $(".modal").modal('hide');
    }
</script>

@section scripts {
<link href="~/otherfiles/FancyBox/jquery.fancybox.min.css" rel="stylesheet" />
<script src="~/otherfiles/FancyBox/jquery.fancybox.min.js"></script>
<script src="~/js/CommonHelper.js?@DateTime.Now.Ticks"></script>
<script src="~/ViewJs/Common/AllGenericFunc.js?@DateTime.Now.Ticks"></script>
<script src="~/ViewJs/Operation/VehicleCollectionNoti.js?@DateTime.Now.Ticks"></script>
}







