


<div class="modal-content">
    <div class="modal-header">
        <h3 class="modal-title">Add Trip Master</h3>
        <button type="button" class="close" data-dismiss="modal" onclick="CloseModal()">&times;</button>
    </div>
    @*<button type="button" class="btn bg-primary" id="alert" onclick="ShowMessage('1','record added');">Launch <i class="icon-play3 ml-2"></i></button>*@

    <div class="modal-body">


        <div class="form-group">
            <div class="row">

                <div class="col-sm-4">
                    <label>Trip Name</label>
                    <input type="hidden" id="hfTMId" />
                    <span class="text-danger">*</span>
                    <input type="text" placeholder="Enter Category" class="form-control" id="txtTripName" required>
                </div>

                <div class="col-sm-4">
                    <div class="form-check">
                        <br />
                        <label class="form-check-label">
                            <input type="checkbox" class="square-o" id="ckbIsActive" name="IsActive">
                            Is Active
                        </label>
                    </div>

                </div>

            </div>
        </div>

    </div>
    <div class="card-footer d-flex justify-content-between align-items-center bg-info border-top-0">
        <button type="button" class="btn bg-transparent text-white border-white border-2" data-dismiss="modal" onclick="CloseModal()">Close</button>
        <button type="submit" class="btn btn-outline bg-white text-white border-white border-2">Submit <i class="icon-paperplane ml-2"></i></button>
    </div>
</div>
