
@{
    ViewData["Title"] = "AllZoneWiseSummary";
    Layout = "~/Views/Shared/_MonsterLayout.cshtml";
}


<div class="page-header border-bottom-0">

    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-md-5 align-self-center">
            </div>
            <div class="
                col-md-7
                justify-content-end
                align-self-center
                d-none d-md-flex
              ">
                @*  <div class="d-flex">
                    <div class="dropdown me-2">
                    <button class="btn btn-secondary dropdown-toggle"
                    type="button"
                    id="dropdownMenuButton"
                    data-bs-toggle="dropdown"
                    aria-expanded="false">
                    January 2021
                    </button>
                    <ul class="dropdown-menu"
                    aria-labelledby="dropdownMenuButton">
                    <li><a class="dropdown-item" href="#">February 2021</a></li>
                    <li><a class="dropdown-item" href="#">March 2021</a></li>
                    <li><a class="dropdown-item" href="#">April 2021</a></li>
                    </ul>
                    </div>
                    <button class="btn btn-success">
                    <i data-feather="plus" class="fill-white feather-sm"></i>
                    Create
                    </button>
                    </div>*@
            </div>
        </div>
    </div>
</div>
<div class="content pt-0">


    <!-- /page header -->

    <div class="card mt-1 mr-2">
        <div class="card-header header-elements-inline pt-0 pb-0">
            <div class="page-title d-flex mt-4">
                <h4><i class="icon-arrow-left52 mr-2"></i> <span class="font-weight-semibold" id="spnHeader">All Geo Point </span> Information</h4>&nbsp;

            </div>

            <div class="list-icons">
                <a class="list-icons-item" data-action="collapse"></a>
                <a class="list-icons-item" data-action="reload"></a>
                <a class="list-icons-item" data-action="remove"></a>
            </div>
        </div>
        <div class="card-body">

            <div class="row">

            </div>
        </div>

        <div class="dataTables_wrapper no-footer">

            <div class="datatable-scroll-wrap">

                <table class="table datatable-button-html5-columns vehicletable" id="example">
                    <thead>
                        <tr>
                            <th>Sr. No</th>
                            @* <th>Route Name</th>*@
                            <th>Geo Point Name</th>
                            <th>Category</th>
                            <th>Zone</th>
                            <th>Circle</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tfoot>
                    </tfoot>
                    <tbody></tbody>
                </table>


            </div>
        </div>
    </div>

</div>




@section scripts {
    <link href="~/otherfiles/monsteradmin/css/bootstrap-datepicker.min.css" rel="stylesheet" />
    <script src="~/otherfiles/monsteradmin/js/moment.js"></script>
    <script src="~/otherfiles/monsteradmin/js/bootstrap-datepicker.min.js"></script>
    <link href="~/otherfiles/FancyBox/jquery.fancybox.min.css" rel="stylesheet" />
    <script src="~/otherfiles/FancyBox/jquery.fancybox.min.js"></script>
    <script src="~/otherfiles/monsteradmin/assets/libs/select2/dist/js/select2.full.min.js"></script>
    <script src="~/otherfiles/monsteradmin/assets/libs/select2/dist/js/select2.min.js"></script>
    <script src="~/otherfiles/monsteradmin/assets/libs/select2/dist/js/select2.init.js"></script>
    <script src="/otherfiles/Light/global_assets/js/demo_pages/form_layouts.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDR9w4KTLnl8IWjTgFLHIvHZXLrpJlKi6I"></script>
    <script src="~/js/CommonHelper.js?@DateTime.Now.Ticks"></script>
    <script src="~/ViewJs/Common/AllGenericFunc.js?@DateTime.Now.Ticks"></script>
    <script src="~/ViewJs/Collection/ZoneWiseSummary.js?@DateTime.Now.Ticks"></script>
}

